<launch>
  <param name="use_sim_time" value="true" />
  <param name="clock_node/dT" type="double" value="0.01" />
  <param name="simulator_node/show_dt" type="bool" value="False" />
  <param name="mission_file" type="string" value="/home/mirko/Devel/diplomski/ws/src/mission_publisher/yaml/simple.yaml" />
  <rosparam param="robot_list"> ['mirko', 'slavko'] </rosparam>
    
  <node pkg="rviz" type="rviz" name="rviz" />
    
  <include file="$(find robot_model)/launch/simple.launch">
    <arg name="robot_name" value="mirko" />
    <arg name="init_pose" value="'{position: {x: 1.0, y: 1.0, z: 0.0}, orientation: {x: 0.0,y: 0.0,z: 0.0, w: 1.0}}'" />
    <arg name="output" value="screen" />
  </include>
  
  <include file="$(find robot_model)/launch/simple.launch">
    <arg name="robot_name" value="slavko" />
    <arg name="init_pose" value="'{position: {x: 3.0, y: 1.0, z: 0.0}, orientation: {x: 0.0,y: 0.0,z: 0.0, w: 1.0}}'" />
    <arg name="output" value="screen" />
  </include>

  <node name="simulator_node" pkg="simulator" type="simulator_ideal.py" output="screen" />
  <node name="clock_node" pkg="simulator" type="clock_node.py" output="screen" />
  
  <node name="mission_publisher_node" pkg="mission_publisher" type="mission_publisher.py" />
  
</launch>
